Redirect 301 /polityka-prywatnosci.html https://hurtowniarochu.pl/polityka-prywatnosci
Redirect 301 /regulamin.html https://hurtowniarochu.pl/regulamin
Redirect 301 /strona-glowna https://hurtowniarochu.pl

 
                                       
